.conteiner-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    margin-bottom: 100px;
    min-height: fit-content;
    padding-top: 200px;
    background-image: linear-gradient(white,rgba(230, 246, 250, 1) );
}
    #group {
            position: relative;
            border: 3px solid rgba(99, 96, 228, 0.53);
            background-color: rgba(255, 255, 255, 0);
            border-radius: 5px;
            margin-bottom: 10rem;
            width: 230px;
        }
        .stch-container{
            margin-top: -40px;
        }
        
        .switch {
            display: flex;
            justify-content: space-around;
            line-height: 50px;
            position: relative;
            border: none;
            font-family: 'poppins';
            font-weight: bold;
            color: rgb(255, 255, 255);
            height: 50px;
        }
        
        
        
        .switch input {
            position: absolute;
            opacity: 0;
        }
        
        
        .switch label {
            position: relative;
            z-index: 2;
            float: left;
            text-align: center;
            color: rgba(99, 96, 228, 0.53);
            cursor: pointer;
            transition: all .3s ease-out;
            padding: 0 30px;
        }
        
        .switch input:checked + label {
            color: #ffffff;
            background-color: rgba(99, 96, 228, 0.53);
        }
        
        .switch input:focus + label {
            outline: none;
        }
        
        .circle {
            position: relative;
            bottom: 376px;
            right: 438px;
    background: rgba(98, 96, 228, 0.226);
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
    height: 30em;
    width: 30em;
    }

    .sessao-price-tag{
        display: flex;
        max-width: 980px;
        justify-content: space-around;
        align-items: center;
    }
    .price-component-first{
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        width: 400px;
        height: 500px;
        z-index: 2;
    }
    .price-component{
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        width: 400px;
        height: 500px;
        z-index: 3;
    }
    .price-component-second{
        box-sizing: border-box;
        z-index: 5;
        background-color: rgb(255, 255, 255);
        width: 400px;
        height: 550px;
        box-shadow: 0 0 3rem rgba(98, 96, 228, 0.226) ;
    }