.why-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    min-height: fit-content;
    margin: 8em 25rem;
}